<?xml version="1.0"?>
<config>
    <modules>
        <Adestra_MFAbandonedCart>
            <version>1.0.4</version>
        </Adestra_MFAbandonedCart>
    </modules>
    <global>
        <helpers>
            <mfabandonedcart>
                <class>Adestra_MFAbandonedCart_Helper</class>
            </mfabandonedcart>
        </helpers>
        <blocks>
             <mfabandonedcart>
                <class>Adestra_MFAbandonedCart_Block</class>
             </mfabandonedcart>
        </blocks>
		<models>
             <mfabandonedcart>
                <class>Adestra_MFAbandonedCart_Model</class>
				<resourceModel>mfabandonedcart_resource</resourceModel> 
             </mfabandonedcart>
             <mfabandonedcart_resource>
                <class>Adestra_MFAbandonedCart_Model_Resource</class>
				<entities>
					<token>
						<table>mfabandonedcart_tokens</table>
					</token>
				</entities>                 
             </mfabandonedcart_resource>
        </models>
		<events>
<!--           <customer_login>
               <observers>
                   <customer_login_observer>
                       <class>mfabandonedcart/observer</class>
                       <method>customerLogin</method>
                   </customer_login_observer>
               </observers>
           </customer_login>
-->		</events>
		<resources>
			<mfabandonedcart_setup>
				<setup>
					<module>Adestra_MFAbandonedCart</module>
					<class>Adestra_MFAbandonedCart_Model_Resource_Setup</class>
				</setup>
			</mfabandonedcart_setup>
		</resources>
    </global>
	<frontend>
		<layout>
			<updates>
				<mfabandonedcart>
		   		      <file>mfabandonedcart.xml</file>
				</mfabandonedcart>
			</updates>
       	</layout>		
        <routers>
            <mfabandonedcart>
                <use>standard</use>
                <args>
                    <module>Adestra_MFAbandonedCart</module>
                    <frontName>mf-abandoned-cart</frontName>
                </args>
            </mfabandonedcart>
        </routers>
	</frontend>
	<default>
		<adestra>
			<abandondedcart>
				<accountid>0</accountid>
			</abandondedcart>
			<abandondedcart>
				<captureid>1</captureid>
			</abandondedcart>
		</adestra>
	</default>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<adestra>
											<title>Adestra settings</title>
										</adestra>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>	
</config> 