<?xml version="1.0"?>
<config>
    <modules>
        <Adestra_MFAbandonedCart>
            <version>1.0.2</version>
        </Adestra_MFAbandonedCart>
    </modules>
    <global>
        <helpers>
            <mfabandonedcart>
                <class>Adestra_MFAbandonedCart_Helper</class>
            </mfabandonedcart>
        </helpers>
        <blocks>
             <mfabandonedcart>
                <class>Adestra_MFAbandonedCart_Block</class>
             </mfabandonedcart>
        </blocks>
		<models>
             <mfabandonedcart>
                <class>Adestra_MFAbandonedCart_Model</class>
             </mfabandonedcart>
        </models>
		<events>
<!-- events -->			
		</events>
    </global>
	<frontend>
		<layout>
			<updates>
				<mfabandonedcart>
		   		      <file>mfabandonedcart.xml</file>
				</mfabandonedcart>
			</updates>
       	</layout>		
        <routers>
            <mfabandonedcart>
                <use>standard</use>
                <args>
                    <module>Adestra_MFAbandonedCart</module>
                    <frontName>mf-abandoned-cart</frontName>
                </args>
            </mfabandonedcart>
        </routers>
	</frontend>
	<default>
		<adestra>
			<abandondedcart>
				<accountid>0</accountid>
			</abandondedcart>
			<abandondedcart>
				<captureid>1</captureid>
			</abandondedcart>
		</adestra>
	</default>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<adestra>
											<title>Adestra settings</title>
										</adestra>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>	
</config> 